<div class="card">
    <div class="card__content">

        <h3 class="card__heading"><a href="{{card.link}}">{{card.heading}}</a></h3>
        <p class="card__desc">{{card.text}}</p>
        <p class="card__footer">{{card.footer}}</p>
    </div>
    <div class="card__img">
        <img src="{{card.img}}">
    </div>
</div>

<script type="text/javascript">
    $("document").ready(function() {
        // get cards to function like they themsleves are the link
        var mouseWentDown;
        var mouseWentUp;
        var $this;

        $('.card').css('cursor', 'pointer');

        $('.card').mousedown(function(e) {
            $this = $(this);
            mouseWentDown = (new Date).getTime();
            console.log('now' + mouseWentDown);
        });
        $('.card').mouseup(function(e) {
            mouseWentUp = (new Date).getTime();
            console.log('right now: ' + mouseWentUp);
            console.log('mouseWentDown: ' + mouseWentDown);
            if ((mouseWentDown + 250) >= mouseWentUp) {
                window.location.href = $this.find('a').attr('href');
            }
        });
    });
</script>
