<div class="widget widget-ChildrenGallery widget-hasinfobox orientation-wide">
    <ul class="children-gallery-list row">

        <li class="children-gallery-list-item col-xs-6 col-sm-4 col-md-3">
            <a href="url" class="children-gallery-list-item-link">
                <img src="{{ children-pg-list-item.img }}" class="children-gallery-list-item-image" alt="" role="presentation">
                <p class="children-gallery-list-item-title">{{ children-pg-list-item.text }}</p>
            </a>
        </li>

        <li class="children-gallery-list-item col-xs-6 col-sm-4 col-md-3">
            <a href="url" class="children-gallery-list-item-link">
                <img src="{{ children-pg-list-item.img }}" class="children-gallery-list-item-image" alt="" role="presentation">
                <p class="children-gallery-list-item-title">{{ children-pg-list-item.text }}</p>
            </a>
        </li>

        <li class="children-gallery-list-item col-xs-6 col-sm-4 col-md-3">
           <a href="url" class="children-gallery-list-item-link">
               <img src="{{ children-pg-list-item.img }}" class="children-gallery-list-item-image" alt="" role="presentation">
               <p class="children-gallery-list-item-title">{{ children-pg-list-item.text }}</p>
           </a>
       </li>

       <li class="children-gallery-list-item col-xs-6 col-sm-4 col-md-3">
           <a href="url" class="children-gallery-list-item-link">
               <img src="{{ children-pg-list-item.img }}" class="children-gallery-list-item-image" alt="" role="presentation">
               <p class="children-gallery-list-item-title">{{ children-pg-list-item.text }}</p>
           </a>
       </li>


       <li class="children-gallery-list-item col-xs-6 col-sm-4 col-md-3">
        <a href="url" class="children-gallery-list-item-link">
            <img src="{{ children-pg-list-item.img }}" class="children-gallery-list-item-image" alt="" role="presentation">
            <p class="children-gallery-list-item-title">{{ children-pg-list-item.text }}</p>
        </a>
    </li>
    </ul>
</div>