<section class="slider-clean" aria-label="gallery" role="region"  tabindex="0">
	<ul class="slider__buttons">
		{{#each slider.slider-items }}
			<ol class="slider__button" type="button" role="tab" id="slider-controls" aria-controls="slider-controls" aria-label="{{ slider.id }} of 4" tabindex="{{ slider.id }}"><a href="#slide-{{ slider.id }}">{{ slider.id }}</a></ol>
		{{/each}}
	</ul>
	<ul class="slider__gallery">
		{{#each slider.slider-items }}
		<li class="slider__item" id="slide-{{ slider.id }}">
		    <a href="{{ slider.link }}">
		    	<img src="{{ slider.img }}" alt="{{ slider.img-alt-text }}">
		    </a>
		</li>
		{{/each}}
	</ul>
</section>
