<div class="image-gallery -clearfix image-gallery--captions">
	{{#each image-gallery.gallery-thumbs }}
    <div class="image-gallery-thumb">
        <a class="image-gallery-popup" href="{{ gallery-thumb.img }}" title="{{ gallery-thumb.link-title }}">
            <img src="{{ gallery-thumb.img }}" alt="{{ gallery-thumb.img-alt-text }}">
        </a>
        <p class="image-gallery-caption">{{ gallery-thumb.img-alt-text }}</p>
    </div>
	{{/each}}
</div>
