<article>
        <div class="article__img">
            <img src="{{ article.img }}">
        </div>

        <div class="article__content">

            <h3 class="article__heading">{{ article.heading }}</h3>
            <p class="article__details">
                <span class="article__date">
                {{ article.date }}
                </span>
                <span class="article__author">
                {{ article.author }}
                </span>
            </p>
            <p>{{ article.text }}</p>


            {{> @text-link }}

        </div>
</article>