<!doctype html>
<html lang="en" class="no-js" style="background: rgba(235,235,235);">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Preview Layout</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script type="text/javascript">var ROOT = '/';</script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="{{ path '/css/normalize.css' }}">
    <link rel="stylesheet" href="{{ path '/css/flexboxgrid.css' }}">
    <link rel="stylesheet" href="{{ path '/css/global.css' }}">

    <script src="{{ path '/js/frankenmenu.js' }}"></script>
    <script src="{{ path '/js/skin.js' }}"></script>

</head>
<body style="background: rgba(235,235,235);">
    {{{ yield }}}
</body>
</html>
