<div class="hero-banner-02">

    <style>
        .hero-banner-02 {
            /*image size ratio 4:3*/
            background-image: url({{ hero-banner.img }});
        }
        @media screen and (min-width: 30em) { /* 480px */
            .hero-banner-02 {
                background-image: url({{ hero-banner.img-lgmob }});
            }
        }
        @media screen and (min-width:  48em) { /* 768px */
            .hero-banner-02 {
                /*image size crop safe area */
                background-image: url({{ hero-banner.img-tb-portrait }});
            }
        }
        @media screen and (min-width: 62em) { /* 992px */
            .hero-banner-02 {
                /* image size ratio becomes 16:9 */
                background-image: url({{ hero-banner.img-tb-landscape }});
            }
        }
        @media only screen and (min-width: 75em) { /* 1200px */
            .hero-banner-02 {
                /*image size ratio starts gets really widescreen */
                background-image: url({{ hero-banner.img-desk-sm }});
            }
        }

    </style>

    <div class="hero-banner-02__content">
        <div class="container">

            <h2 class="hero-banner-02__heading">{{ hero-banner.heading }}</h2>

            <p>{{ hero-banner.description }}</p>

            <p>{{> @button }}</p>
        </div>
    </div>
</div>
